<template>
    <div>
        <v-layout row wrap class="align-center justify-space-between text-xs-center">
            <v-flex class="xs6 sm3 pt-4 caption font-weight-bold">{{ today }}</v-flex>
            <v-flex class="hidden-sm-and-down sm6">
                <img src="../assets/logo-main.svg" height="45px" /><br>
            </v-flex>
            <v-flex class="xs6 sm3 pt-4 font-italic caption indigo--text darken4">All The News</v-flex>
        </v-layout>

        <v-divider class="mt-3"></v-divider>
        <v-divider class="mt-0 blue-grey"></v-divider>
        <v-divider class="mt-0"></v-divider>
        <v-progress-linear :indeterminate="loading" class="my-0"></v-progress-linear>
        <span class="headline blue-grey--text font-weight-light lighten2 text-capitalize">{{ category }}</span>
        <v-divider class="mt-1"></v-divider>
        <v-divider class="mt-1 mx-5"></v-divider>

        <v-layout row wrap align-center>
          <v-flex xs12>
            <!-- Can recieve duplicate articles, article.title is then duplicate key -->
            <div v-for="article in articles" :key="article.title">
              <v-card class="my-4" hover>
                <v-layout row wrap v-if="article.urlToImage != null">
                    <v-flex xs12 md8>
                        <!-- article.urlToImage may be null !! -->
                        <v-img
                          height="350px"
                          v-bind:src="article.urlToImage"
                        ></v-img>
                    </v-flex>
                    <v-flex xs12 md4>
                        <v-layout column justify-space-between fill-height>
                            <div>
                                <v-card-text class="secondary white--text">
                                    <div class="headline">{{ article.title }}</div>
                                </v-card-text>
                                <v-card-text>
                                    {{ article.description }}
                                </v-card-text>
                            </div>
                            <v-card-actions>
                                <!-- <v-chip small color="secondary" class="white--text">
                                    {{ article.source.id }}
                                </v-chip> -->
                                <v-avatar size="32px">
                                    <img
                                        class="img-circle elevation-7 mb-1"
                                        :src="getImgUrl( article.source.id )"
                                    />
                                </v-avatar>
                                <span class="caption font-weight-bold ml-2">{{ article.source.name }}</span>
                                <v-spacer></v-spacer>
                                <v-btn small dark color="red darken-4" v-bind:href="article.url" target="_blank" >Read More</v-btn>
                            </v-card-actions>
                        </v-layout>
                    </v-flex>
                </v-layout>
                </v-card>
            </div>
          </v-flex>
        </v-layout>
    </div>
</template>

<script>
export default {
  props: {
    articles: Array,
    category: String,
    loading: Boolean
  },
  computed: {
    today () {
      let d = new Date()
      let days = [ 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' ]
      let months = [ 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]
      return days[ d.getDay() ] + ', ' + months[ d.getMonth() ] + ' ' + d.getDate() + ', ' + d.getFullYear()
    }
  },
  methods: {
    getImgUrl (pic) {
      return require('../assets/images/' + pic + '.png')
    }
  }
}
</script>
