<template>
  <v-navigation-drawer v-model="drawer" fixed app clipped  class="secondary" id="style-1">
    <v-list dense dark class="pt-3" >
      <v-list-tile class="mt-3 mb-2">
        <v-list-tile-action>
          <v-text-field
            dark
            small
            solo-inverted
            placeholder="search . . ."
            append-icon="search"
            v-model="searchParams"
            v-on:keyup="checkKeyUp"
          ></v-text-field>
        </v-list-tile-action>
      </v-list-tile>
      <v-list-tile v-for="(category, index) in categories" :key="index" @click="$vuetify.goTo( '#top' ); selectCategory(category)">
        <v-list-tile-content class="text-uppercase">{{ category }}</v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>

export default {
  props: {
    api_key: String,
    drawer: Boolean,
    categories: Array
  },
  data () {
    return {
      searchParams: '',
      sources: [],
      errors: []
    }
  },
  methods: {
    getImgUrl (pic) {
      return require('../assets/images/' + pic + '.png')
    },
    selectCategory (category) {
      this.$emit('selectcategory', category)
    },
    checkKeyUp (event) {
      if (event.key === 'Enter') {
        this.search()
      }
    },
    search () {
      let params = this.searchParams.trim()
      this.searchParams = ''
      if (params !== '') this.$emit('search', params)
    }
  }
}

</script>
